.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: var(--white-grey);
    top: 50%;
    transform: translateY(-50%);
}

.container:after {
    content: '';
    width: 80px;
    height: 1.5px;
    background-color: var(--green);
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    animation: moveLeftToRight 8s linear infinite;
}

.item {
    flex: 1;
    text-align: left;
    padding: 20px;
    min-width: calc(33.333% - 20px);
}

.number {
    font-size: 14px;
    font-weight: 900;
    color: var(--light-grey);
    margin-bottom: 10px;
    display: block;
    font-family: 'Kanit', sans-serif;
}

.title {
    margin-bottom: 10px;
    font-size: 26px;
    color: var(--blue);
    letter-spacing: -0.5px;
}

.text {
    line-height: 16px;
    color: var(--light-grey);
    font-family: 'Kanit';
    font-size: 16px;
}

@keyframes moveLeftToRight {
    0% {
        left: -50px;
    }

    100% {
        left: calc(100% * 3);
    }
}

@keyframes moveBottomToTop {
    0% {
        bottom: -50px;
    }

    100% {
        bottom: calc(100% * 3);
    }
}

@media (max-width: 850px) {
    .title {
        font-size: 20px;
    }

    .text {
        line-height: 16px;
        font-size: 14px;
    }
}

@media (max-width: 670px) {
    .item {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        padding: 15px 10px 15px 30px;
    }

    .container:before {
        width: 1.5px;
        height: 100%;
    }

    .container:after {
        height: 80px;
        width: 1.5px;
        left: 0;
        bottom: -50px;
        transform: unset;
        top: unset;
        animation: moveBottomToTop 8s linear infinite;
    }
}