.mainContainer {
    min-height: 750px
}



@media (max-width: 850px) {
    .title {
        font-size: 24px !important;
        line-height: 30px !important;
        width: 100%;
        margin-top: 5px
    }

    .description {
        font-size: 16px !important;
        margin-bottom: 20px;
    }
}