.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px
}

.blog-container .blogBox {
    margin: 0;
    width: calc(33% - 17px);
    min-width: calc(33% - 17px);
    max-width: calc(33% - 17px);
}