.caseStudies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: center; */
    margin-bottom: 60px;
}

.caseStudy-box img {
    width: 100%;
    height: 280px;
    min-height: 280px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    object-position: top;
}

.caseStudy-box {
    width: calc(33% - 16px);
    position: relative;
    text-decoration: none;
    color: var(--black);
}

.caseStudy-box:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    background-color: var(--blue);
}

.caseStudy-box article {
    height: 100%;
}

.caseStudy-box:nth-of-type(odd):after {
    background-color: var(--green);
}

.caseStudyContentWrapper {
    background-color: var(--light-blue);
    z-index: 3;
    position: relative;
    padding: 40px 30px;
    margin-top: -10px;
    min-height: calc(100% - 270px);
    text-decoration: none;
}

.caseStudy-box:nth-of-type(odd) .caseStudyContentWrapper {
    background-color: var(--light-green);
}

.caseStudyTitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.caseStudyMeta {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.caseStudyFooter {
    font-size: 14px;
    font-family: 'Kanit';
    font-weight: 500;
    color: var(--light-grey);
}

.caseStudyDate {
    position: relative;
    /* margin-right: 10px;
    padding-right: 10px; */
}

/* .caseStudyDate:after {
    content: '';
    position: absolute;
    top: 50%;
    background: var(--light-grey);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -2px;
    transform: translateY(-50%);
} */

@media (max-width: 1190px) {
    .caseStudy-box {
        width: calc(50% - 16px);
    }

    .caseStudyContentWrapper {
        padding: 20px 15px;
    }

    .caseStudyTitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .caseStudyMeta {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 670px) {
    .caseStudy-box {
        width: 100%;
    }

    .caseStudies-container {
        gap: 15px;
        margin-bottom: 25px;
    }
}