.contact-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 100px;
    width: 100%;
}

.contact-info {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Kanit';
}

.contact-form {
    align-self: stretch;
    padding: 20px;
    width: calc(100% - 600px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto
}

.form-row {
    display: flex;
    gap: 30px;
    margin-bottom: 20px
}

.input-group {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-label {
    position: absolute;
    left: 0;
    bottom: 8px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    color: var(--black);
    pointer-events: none;
}

.input-field,
.textarea-field {
    border: none;
    border-bottom: 1.3px solid var(--black);
    padding: 10px 0px;
    font-size: 18px;
    outline: none;
    width: 100%;
    background: transparent;
}

.textarea-field {
    resize: none;
    resize: none;
    min-height: 30px;
    max-height: 120px;
    overflow-y: auto;
    white-space: normal;
}

.input-group.focused .input-label,
.input-group.filled .input-label {
    bottom: 32px;
    font-size: 14px;
    color: var(--light-grey);
}

.focused .input-field,
.focused .textarea-field {
    border-bottom-color: var(--blue);
}

.input-group.error .input-label,
.error {
    color: red;
}

.input-group.error .input-field,
.input-group.error .textarea-field {
    border-bottom: 1.3px solid red;
}

.send-button {
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.send-button .arrow {
    transform: rotate(-45deg)
}

.send-button .arrow,
.send-button .arrow:after,
.send-button .arrow:before {
    background: var(--white)
}


.circle:after {
    position: absolute;
    background: var(--green);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    content: '';
    bottom: 0;
    right: 0;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 110px;
    bottom: 75px;
}

.circleBefore {
    position: relative;
}

.circleBefore:before {
    content: '';
    background: var(--green);
    width: 260px;
    height: 160px;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    left: calc(100% - 60px);
    opacity: .2;
}

.logo-image-sm {
    height: 70px;
    width: auto;
    margin-bottom: -3px;
    margin-right: 3px;
    margin-left: 7px;
}

@media (max-width: 1190px) {
    .contact-container {
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .contact-info {
        width: 100%;
        display: block;
        position: relative;
        margin: 0;
    }

    .contact-form {
        padding: 0px;
        width: 100%
    }


}

@media (max-width: 850px) {
    .contact-info h3 {
        font-size: 11dvw;
        line-height: calc(11dvw + 6px);
    }

    .contact-info .circle {
        display: none;
    }

    .logo-image-sm {
        margin-bottom: -1px;
        margin-right: 2px;
        margin-left: 4px;
        height: 9dvw;
    }
}

@media(max-width: 670px) {
    .form-row {
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 15px;
    }

    .form-row .input-group {
        width: 100%;
        flex: 100%;
    }

    .contact-container {
        margin-bottom: 30px;
    }

    .input-label,
    .input-field,
    .textarea-field {
        font-size: 16px;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .input-group.focused .input-label,
    .input-group.filled .input-label {
        bottom: 28px;
        font-size: 12px;
    }

    .send-button {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}

.submit-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.submit-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.submit-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}