.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.filters span {
    padding: 14px 18px;
    background: rgba(38, 179, 255, .2);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}

.filters span.active {
    background: var(--blue);
    color: #fff;
}