.footer {
    text-align: center;
}

.footer .logo {
    margin-bottom: 15px;
    margin-top: 20px;
}

.copyright {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Kanit';
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.top-links,
.bottom-links {
    display: flex;
    gap: 20px;
}

.bottom-links {
    margin-top: 40px;
}

.bottom-links a {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bottom-links a:not(:last-of-type):after {
    content: '';
    width: 1.5px;
    height: 100%;
    background: var(--black);
    display: block;
    position: relative;
    margin-left: 20px;
}

.top-links a {
    text-decoration: none;
    font-size: 14px;
}

.top-links a:hover,
.bottom-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 35px;
    font-size: 45px;
    margin: 40px 0;
    position: relative;
    width: 100%;
    justify-content: center;
}

.social-icons:after {
    right: 0;
}

.social-icons:before {
    left: 0;
}

.social-icons:before,
.social-icons:after {
    content: '';
    position: absolute;
    width: calc(50% - 220px);
    height: 1px;
    background: var(--grey);
    top: 50%;
    transform: translateY(-50%);
}

.social-icons a {
    transition: color 0.3s;
    color: var(--black);
    display: flex;
    align-items: center;
}

.social-icons a:hover {
    color: var(--blue);
}

.site-links {
    display: flex;
    margin: 40px 0;
    width: 100%;
}

.links-container .links-title {
    color: var(--light-grey);
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 15px;
    display: block;
}

.links-container ul li:before {
    display: none;
}

.links-container ul li {
    margin-bottom: 15px;
    padding: 0;
}

.links-container {
    text-align: left;
    width: 33%;
}

.links-container ul li a {
    color: var(--grey);
    text-decoration: none;
    font-size: 20px;
}

.links-container:first-of-type {
    width: 510px;
}

.links-container:nth-of-type(2) {
    margin-right: 50px;
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    padding-left: 50px;
}

.links-contact-text {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 5px;
    color: var(--light-grey);
}

.links-container .links-contact-call {
    font-weight: 900;
    display: block;
    font-size: 26px;
    text-decoration: underline;
    margin-bottom: 40px;
}

@media (max-width: 768px) {

    .top-links,
    .bottom-links {
        flex-direction: column;
        gap: 10px;
    }
}