.pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}



.pageNr {
    background: rgba(38, 179, 255, .2);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: var(--light-grey);
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

.pageNr.active {
    background: var(--blue);
    color: #fff;
}

.pageNr.prevPage .arrow {
    transform: rotate(-180deg);
}

@media (max-width: 670px) {
    .pagination {
        gap: 12px;
    }

    .pageNr {
        width: 35px;
        height: 35px;
        font-size: 13px;
    }

    .pageNr .arrow {
        transform: scale(0.7);
    }
}