#root {
  overflow-x: hidden;
}

.layout {
  padding: 35px 70px;
  min-height: 900px;
  position: relative;
  z-index: 3;
}

.container {
  padding: 120px 0;
}

@media (max-width: 1190px) {
  .layout {
    padding: 35px 30px;
  }

  .container {
    padding: 60px 0;
  }
}

@media (max-width: 850px) {
  .layout {
    min-height: auto;
  }
}

@media (max-width: 670px) {
  .layout {
    padding: 25px 10px;
  }

  .container {
    padding: 35px 0;
  }

}

.darkbg {
  background: var(--black);
  color: var(--white);
}

.darkOverlay {
  position: relative;
}

.darkOverlay:after {
  /* background: rgba(0, 0, 0, .3); */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(57, 172, 98, .6);
  filter: brightness(0.5);
}

.whitebg {
  background: var(--pure-white);
  color: var(--black);
}

.lightgreybg {
  color: var(--black);
  background: #f8f8f8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 70px 0 70px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  max-width: calc(100dvw);
  z-index: 99;
  position: fixed;
}

header ul li {
  padding: 0;
}

header ul li:before {
  content: unset;
}

@media (max-width: 1190px) {
  header {
    padding: 20px 20px 0 20px;
  }

  header .headerLogo svg {
    height: 40px;
    width: auto;
  }
}

@media (max-width: 850px) {
  header {
    padding: 20px 12px 0 12px;
  }
}

@media (max-width: 670px) {
  header {
    padding: 15px 12px 0 12px;
  }

  header .headerLogo svg {
    height: 35px;
  }
}

.highlight {
  background: var(--green);
}

.burger-menu {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  overflow: hidden;
  pointer-events: all;
  z-index: 99999;
}

.burger-menu:before,
.burger-menu:after {
  content: "";
  display: block;
  position: absolute;
  right: 6px;
  width: 22px;
  height: 3px;
  background-color: var(--green);
  transform: skew(-26deg) rotate(-29deg);
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1) 0.2s;
}

.burger-menu:before {
  top: 7px;
}

.burger-menu:after {
  bottom: 7px;
}

.burger-menu span:not(.close) {
  display: block;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%) skew(-26deg) rotate(-29deg);
  width: 22px;
  height: 3px;
  background-color: var(--green);
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1) 0.2s;
}

.burger-menu span.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.burger-menu span.close:before,
.burger-menu span.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 11px);
  width: 23px;
  height: 2.5px;
  background-color: var(--green);
  transform-origin: center;
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1);
}

.burger-menu span.close::before {
  transform: rotate(-45deg) translate(35px, 0px);
}

.burger-menu span.close::after {
  transform: rotate(45deg) translate(-35px, 0px);
}

.burger-menu.open--:before,
.burger-menu.open--:after {
  transform: translate(-30px, 11px) skew(-26deg) rotate(-29deg);
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1);
}

.burger-menu.open-- span:not(.close) {
  transform: translate(30px, -13px) skew(-26deg) rotate(-29deg);
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1);
}

.burger-menu.open-- .close::before,
.burger-menu.open-- .close::after {
  transition: all 0.3s cubic-bezier(0.13, 0, 0.11, 1) 0.1s;
}

.burger-menu.open-- .close:before {
  transform: rotate(-45deg);
}

.burger-menu.open-- .close:after {
  transform: rotate(45deg);
}

@media (max-width: 670px) {
  header {
    padding: 15px 12px 0 12px;
  }

  header .headerLogo svg {
    height: 35px;
  }

  .burger-menu {
    height: 30px;
  }

  .burger-menu:before,
  .burger-menu:after,
  .burger-menu span:not(.close) {
    width: 20px;
    height: 2.5px;
  }
}

.app.open-- .c-menu,
.app.open-- .c-menu__list a {
  transform: translateY(0) !important;
}

.app.open-- .main-container .main {
  transform: translateY(-20%);
}

.c-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  /* background: var(--white); */
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(237, 244, 242, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%);
  transform: translateY(100dvh);
  z-index: 998;
  display: flex;
  flex-direction: column;
  transition: transform 1s cubic-bezier(.13, 0, .11, 1);
  overflow: hidden;
}

.c-menu .container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 150px auto 64px auto !important;
}

.c-menu__list {
  min-width: 450px;
  max-width: 450px;
  max-height: calc(100dvh);
  min-height: calc(100dvh);
  overflow-y: auto;
  padding: 60px 15px 60px 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Kanit';
}

.c-menu__list .sub-menu li a {
  text-transform: capitalize;
}

.c-menu__list::-webkit-scrollbar {
  width: 12px;
}

.c-menu__list::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 10px;
}

.c-menu__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff;
}

.c-menu__list>li {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 40px;
  overflow: hidden;
}

.c-menu__list>li a {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s cubic-bezier(.13, 0, .11, 1);
  opacity: 0;
  transform: translateY(30px);
  line-height: 45px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}

.c-menu__list>li.menu-item-has-children {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: default;
}

.c-menu__list>li.menu-item-has-children>a:after {
  position: relative;
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: var(--green);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 2px;
}

.c-menu__list>li.hover-- a {
  opacity: 1;
  text-decoration: none;
  color: var(--black);
}

.c-menu__list>li.hover-- .sub-menu {
  transform: translateY(0);
  opacity: 1;
  max-height: calc(100dvh);
}

.c-menu__list>li.hover-- .sub-menu li a,
.c-menu__list>li.hover-- .sub-menu li button {
  transform: translateY(0px);
  opacity: 1;
}

.c-menu__list .sub-menu {
  position: fixed;
  top: 150px;
  left: 420px;
  padding-left: 100px;
  width: 400px;
  transform: translateY(-130%);
  opacity: 0;
  z-index: 1;
  overflow: auto;
}

.c-menu__list .sub-menu:before {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  height: 100%;
  width: 1px;
  background: #c2c2c2;
}

.c-menu__list .sub-menu::-webkit-scrollbar {
  width: 12px;
}

.c-menu__list .sub-menu::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 10px;
}

.c-menu__list .sub-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff;
}

.c-menu__list.hasHover-->li:not(.hover--) a {
  color: var(--black);
  opacity: .5;
  text-decoration: none;
}

.c-menu__list .sub-menu li a,
.c-menu__list .sub-menu li button {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(.13, 0, .11, 1);
}

.c-menu__list .sub-menu li a {
  font-size: 20px;
  letter-spacing: -1px;
}

.menu-item .arrow {
  background: var(--black);
  margin-left: 15px;
  width: 20px;
  transition: margin-left 0.5s ease-out;
}

.menu-item.hover-- .arrow {
  margin-left: 20px;
  transition: margin-left 0.5s ease-in;
}

.menu-item .arrow::after {
  top: -4px;
}

.menu-item .arrow::before {
  top: 4px;
}

.menu-item .arrow:before,
.menu-item .arrow:after {
  background: var(--black);
  width: 13px;
  right: -4px;
}

.sub-menu li a .menu-item-txt {
  background: linear-gradient(to right, var(--green) 50%, var(--black) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  transition: background-position 0.5s ease-in;
}

.sub-menu li a:hover .menu-item-txt {
  background-position: 0 0;
}

.menu-item .active {
  opacity: 1 !important;
}

.menu-item .active .menu-item-txt {
  color: var(--green);

}

@media (max-width: 1190px) {
  .c-menu__list {
    min-width: 40dvw;
    max-width: 40dvw;
    max-height: calc(100dvh);
    min-height: calc(100dvh);
    padding: 60px 15px 60px 0px;
    margin-left: 100px;
  }

  .c-menu__list .sub-menu {
    top: 50%;
    left: calc(40dvw);
    padding-left: 100px;
    width: 400px;
  }

  .c-menu__list>li.hover-- .sub-menu {
    transform: translateY(-50%);
    min-height: 510px;
  }
}

.eq-columns {
  display: flex;
  gap: 60px;
}

.eq-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.hero-text {
  max-width: 470px;
  margin-right: 125px;
  margin-left: auto;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--blue);
}

.hero-text span:first-of-type {
  font-size: 28px;
}

.hero-text span:last-of-type {
  font-size: 25px;
  margin-top: 0;
  font-weight: 900;
}

@media (max-width: 670px) {
  .hero-text {
    max-width: 80dvw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    right: unset;
  }
}

.app section .container {
  max-width: 1400px !important;
  margin: auto;
}


.slideInTextAnimation {
  overflow: hidden;
}

.slideInTextAnimation>* {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.slideInTextAnimation.show>* {
  transform: translateX(0);
  opacity: 1;
}

.imageRevealEffect {
  position: relative;
}

.imageRevealEffect:after {
  content: '';
  position: absolute;
  width: 100dvw;
  height: calc(100% + 80px);
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
}

@media (max-width:850px) {
  .imageRevealEffect:after {
    height: calc(100% + 40px);
  }
}

.imageRevealEffectBackwards:after {

  transform: translateY(-50%) rotate(180deg);
  left: -60px;
}

.imageRevealEffect.show:after {
  width: 0;
  transition: width 1.3s ease-in-out;
}

.text-content-container img {
  width: auto;
  max-width: 100%;
  margin: 20px auto;
  height: auto;
}

.text-content-container h1 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 40px;
}

.text-content-container p {
  font-size: 20px;
  line-height: 28px;
  margin: 15px 0
}

.text-content-container h2 {
  font-size: 26px;
  line-height: 32px;
  margin: 30px 0 20px;
}

.text-content-container h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 35px 0 15px;
  color: var(--green)
}

.text-content-container h4,
.text-content-container h5,
.text-content-container h6 {
  font-size: 22px;
  line-height: 30px;
  margin: 15px 0
}

.text-content-container ul {
  margin: 25px 0
}

.text-content-container ul li {
  font-size: 20px;
  line-height: 28px
}

.text-content-container ul li:before {
  top: 12px;
  transform: translateY(0);
}

.text-content-container a {
  color: var(--blue);
  text-decoration: underline;
}

.text-content-container ol li::marker {
  color: var(--green);
  font-weight: 700;
  font-size: 20px;
}

.text-content-container ol li {
  margin-left: 25px;
}

.headlineH3 {
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 80px;
  color: var(--blue);
  font-weight: 600
}

.basicH4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: var(--grey);
}

.mediumParagraph {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bigParagraph {
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -1px
}

.extraLargeHeadline {
  font-size: 95px;
  text-transform: uppercase;
  font-family: 'Kanit';
  font-weight: 900
}

.extraLargeHeadline img {
  object-fit: cover;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: -10px;
}

.extraLargeHeadline span {
  display: block;
  margin-left: 140px
}

.kanit-16-p {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Kanit';
  font-weight: 200
}

.kanit-18 {
  font-size: 18px;
  font-family: 'Kanit';
  font-weight: 400
}

.hero:before {
  content: '';
  background-image: url('./assets/backgroundPattern.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 700px;
  width: 100dvw;
  opacity: .15;
}

@media (max-width: 850px) {
  .text-content-container h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .text-content-container p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0
  }

  .text-content-container h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .text-content-container h3 {
    font-size: 22px;
    line-height: 26px;
    margin: 25px 0 15px;
  }

  .text-content-container h4,
  .text-content-container h5,
  .text-content-container h6 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-content-container ul {
    margin: 20px 0
  }

  .text-content-container ul li {
    font-size: 16px;
    line-height: 24px
  }

  .text-content-container ul li:before {
    top: 10px;
  }

  .text-content-container ol li::marker {
    font-size: 17px;
  }

  .text-content-container ol li {
    margin-left: 20px;
  }

  .headlineH3 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .basicH4 {
    font-size: 18px;
    margin-top: 15px;
  }

  .mediumParagraph {
    font-size: 18px;
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
  }

  .bigParagraph {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 670px) {
  .extraLargeHeadline {
    font-size: 35px;
  }

  .extraLargeHeadline img {
    width: 110px;
    height: 45px
  }

  .extraLargeHeadline span {
    margin-left: 80px
  }

  .kanit-16-p {
    font-size: 14px;
  }

  .kanit-18 {
    font-size: 16px;
  }
}

.link {
  color: var(--blue);
  text-decoration: underline;
  margin: 0 5px;
}

.video-section.layout {
  padding: 0 !important;
  margin: 0 !important;
  min-height: auto;
  height: auto;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home-background-video {
  width: auto;
  height: 450px;
  max-height: 60dvw;
  margin-bottom: -25px;
  object-fit: cover;
  pointer-events: none;
  margin-top: auto;
}

@media (max-width: 670px) {
  .home-background-video {
    margin-top: calc(15dvh + 210px);
    margin-bottom: auto;
  }
  .Homepage .hero-text {
    margin-top: 15dvh;
  }

  .c-menu__list {
    min-width: 80dvw;
    max-width: 80dvw;
    max-height: calc(100dvh);
    min-height: calc(100dvh);
    padding: 30px 15px 30px 0px;
    margin: auto;
  }
  .c-menu__list>li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .c-menu__list>li a {
    line-height: 38px;
  }
  .menu-item .arrow {
    transform: scale(.7);
    margin-left: 10px;
  }
  .c-menu__list>li.menu-item-has-children {
    flex-wrap: wrap;
  }
  .c-menu__list>li.hover-- .sub-menu {
    position: relative;
    transform: translate(0);
    min-height: auto;
    left: 0;
    top: unset;
    width: 100%;
    padding: 0;
  }
  .c-menu__list .sub-menu:before{
    display: none;
  }
  .c-menu__list .sub-menu li a {
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 18px;
  }
}